.summary_type-1 {
  color: hsl(0, 100%, 67%);
}

.summary_type-2 {
  color: hsl(39, 100%, 56%);
}

.summary_type-3 {
  color: hsl(166, 100%, 37%);
}

.summary_type-4 {
  color: hsl(234, 85%, 45%);
}

.category-1 {
  background: hsla(0, 100%, 67%, 0.05);
}

.category-2 {
  background: hsla(39, 100%, 56%, 0.05);
}

.category-3 {
  background: hsla(166, 100%, 37%, 0.05);
}

.category-4 {
  background: hsla(234, 85%, 45%, 0.05);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.App {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.project_container {
  display: flex;
  box-shadow: hsl(221, 100%, 96%) 31px 40px 27px -5px, hsl(221, 100%, 96%) 0px 8px 16px -8px;
  border-radius: 1.8rem;
}

.main_container {
  height: 28.5rem;
  width: 20.5rem;
  padding: 2.2rem 3rem;
  z-index: 2;
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 1.8rem;
  color: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main_container h2 {
  color: hsl(241, 100%, 89%);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.main_container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 11rem;
  height: 11rem;
  margin-bottom: 1.7rem;
  border-radius: 100%;
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
.main_container div h3 {
  margin-top: 16px;
  font-size: 4rem;
}
.main_container div h3 span {
  font-size: inherit;
}
.main_container div p {
  position: relative;
  top: -19px;
  color: lightgray;
  opacity: 0.5;
}
.main_container h3 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}
.main_container p {
  text-align: center;
  color: lightgray;
}

.summary_container {
  height: 28.5rem;
  width: 20.5rem;
  padding: 2.2rem;
  z-index: 2;
  border-radius: 1.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.summary_container section {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 100%;
  border-radius: 0.4rem;
  padding: 0 0.9rem;
}
.summary_container section .category_container {
  display: flex;
}
.summary_container section img {
  margin-right: 0.7rem;
}
.summary_container section h4 {
  font-size: 1rem;
  align-self: center;
  opacity: 0.7;
}
.summary_container section p {
  font-weight: bold;
}
.summary_container section small {
  color: lightslategray;
}
.summary_container section:hover {
  filter: hue-rotate(200deg);
  transform: scale(1.05);
  cursor: pointer;
}
.summary_container h4 {
  align-self: flex-start;
  font-size: 1.3rem;
}
.summary_container button {
  width: 100%;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  background: hsl(224, 30%, 27%);
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin-top: 0.9rem;
  border: none;
}
.summary_container button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
  transition: 250ms ease;
}
.summary_container button:active {
  transform: scale(0.95);
}

@media (max-width: 750px) {
  .project_container {
    flex-direction: column;
  }
  .main_container {
    width: 100%;
    border-radius: 0 0 1.8rem 1.8rem;
  }
  .summary_container {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
